@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face { 
  font-family: 'Calculator';
  src: local('Calculator'), url(../public/Calculator.ttf) format('truetype');
  }
  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(27, 27, 27);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.screen {
  font-family: "Calculator";
  margin-bottom: 3rem;
  padding: 0rem 1.5rem;
  background: rgb(151, 151, 151);
  color: black;
  text-align: end,
}

.wrapper {
  background: rgb(89,91,103);
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px -3px rgb(199, 235, 247);
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.7rem;
}

.button {
  background: #ffffff;
  height: 3.5rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  border: none;
  font-size: 1.8rem;
}

.button:hover {
  border: 2px solid black;
}

.equals {
  background: #4bd086;
  grid-column: 3/5;
}

.opt {
  background: orange;
}

.top {
  background: rgb(23, 187, 241);
}